/* BY: cbruhns || v0.2.1 - 8/31/16 */

*{box-sizing:border-box;}
html,body{margin: 0;padding: 40px 0 0 0;}
ul{
  float:left;
  display:block;
  width:80%;
  padding: 0;
  margin: 0 10%;
  height:auto;
  position:relative;
  z-index:500;
}
li{
  list-style:none;
  font-family:'Open Sans', sans-serif;
  font-weight:400;
  color:#777777;
  float:left;
  display:none;
  position:absolute;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.block p i,.block p em{font-size:12px;}

li.active{display:block;}
.block{
  width:100%;
  float:left;
  -webkit-box-shadow:0 5px 9px #d2d2d2;
  -moz-box-shadow:0 5px 9px #d2d2d2;
  box-shadow:0 5px 9px #d2d2d2;
  padding: 20px 15px;
  display:block;
  text-align: center;
  background:#ffffff;
  z-index:500;
  -webkit-animation-name: slideUp; animation-name: slideUp;
  -webkit-animation-duration: .3s; animation-duration: .3s;
  -webkit-animation-fill-mode: both; animation-fill-mode: both;
  -webkit-animation-delay: .3s; animation-delay: .3s;
}
.block i, .block em{
  font-size:39px;
  color:#d91a05;
}
h2{
  color:#d91a05;
  font-size:18px;
}
p{
  font-size:16px;
}
p a{
  color:#d91a05;
  text-decoration:none;
}
p a:hover{cursor:pointer;}
.wrapper{
  max-width:1200px;
  position:relative;
  margin: 40px auto;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.clearfix{clear:both;}
.controls{
  z-index:90;
  width:100%;
  display:block;
  top:0;
  right:0;
  height:100%;
  position:absolute;
}
.next, .prev{
  z-index:150;
  width:6%;
  display:block;
  top:0;
  right:2%;
  height:100%;
  position:absolute;
}
.prev{right:initial;left:2%;}
.next:hover, .prev:hover{
  cursor:pointer;
}
.top, .bottom{
  width:100%;
  height:50%;
  top:0;
  left:0;
  position:absolute;
}
.bottom{top:50%;}

.next span, .prev span{
  width:1px;
  height:90%;
  position:absolute;
  display:block;
  background: #d2d2d2;
  transform-origin: bottom;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.next .top span{
  bottom:0px;
  right:0;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
  -webkit-transform-origin: bottom;
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}
.next .bottom span{
  top:0px;
  right:0;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}
.prev .top span{
  bottom:0px;
  left:0;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}
.prev .bottom span{
  top:0px;
  left:0;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.prev:hover .bottom span,
.next:hover .top span{
  background: #d91a05;
}
.next:hover .bottom span,
.prev:hover .top span{
  background: #d91a05;
}

.pager{
  left:0;
  width:100%;
  position:absolute;
  top: 100%;
  margin: 10px 0 0 0;
  height:auto;
  display:block;
  text-align:center;
  z-index: 300;
}
.pagerdot{
  width:8px;
  height:8px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
  border-radius:50%;
  display:inline-block;
  *zoom:1;
  *display:inline;
  background:#ffffff;
  border:1px solid #d91a05;
  margin: 0 4px;

}
.pagerdot.active{background:#d91a05;}

@-webkit-keyframes slideUp {
  0% { opacity: 0; -webkit-transform: translateY(30px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes slideUp {
  0% { opacity: 0; transform: translateY(30px); }
  100% { opacity: 1; transform: translateY(0); }
}
.slideUp {
  -webkit-animation-name: slideUp; animation-name: slideUp;
  -webkit-animation-duration: .3s; animation-duration: .3s;
  -webkit-animation-fill-mode: both; animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1;  }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1;}
}
.fadeIn {
  -webkit-animation-name: fadeIn; animation-name: fadeIn;
  -webkit-animation-duration: .3s; animation-duration: .3s;
  -webkit-animation-fill-mode: both; animation-fill-mode: both;
}
@media screen and (max-width: 900px){
  .next, .prev{
    width:8%;
    right:2%;
  }
  .prev{right:initial;left:2%;}
  .next span, .prev span{height: 50%;}
  .prev:focus .bottom span,
  .next:focus .top span,
  .next:focus .bottom span,
  .prev:focus .top span{
    background: #d91a05;
  }
  .prev:hover .bottom span,
  .next:hover .top span,
  .next:hover .bottom span,
  .prev:hover .top span{
    background: #d2d2d2;
  }
  .block{
    -webkit-animation-name: fadeIn; animation-name: fadeIn;
    -webkit-animation-duration: 1s; animation-duration: 1s;
    -webkit-animation-fill-mode: both; animation-fill-mode: both;
    -webkit-animation-delay: 0s; animation-delay: 0s;
  }
}
